@import url('https://fonts.googleapis.com/css2?family=Marvel:wght@400;700&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
  font-family: 'Marvel', sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.8rem;
  background: linear-gradient(rgba(54, 0, 0, 0.61), rgba(56, 0, 0, 0.61)), url("./assets/images/background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  width: 100%;
  color: aliceblue;
  animation: shrink 60s infinite alternate;
}

@keyframes shrink {
  0% {
    background-size: 100% 100%;
  }

  100% {
    background-size: 115% 115%;
  }
}
